/*
    Autor: Isaac Fernández
    Fecha de creación: 26/07/2025
    Última modificación: 13/08/2025
*/

html, body {
    overflow-x: hidden; /* Elimina scroll horizontal */
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Menú */

.logo {
    height: 50px;
    margin-right: 10px;
}

.custom-navbar {
    background-color: #00c3ff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
}

.custom-navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #00c3ff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}
  
.custom-navbar .navbar-nav .nav-link {
    color: white; /* color de los enlaces */
}
  
.custom-navbar .navbar-nav .nav-link:hover {
    color: #e0f7fa; /* color al pasar el mouse */
}
  
.custom-navbar .navbar-brand {
    color: white;
}


/* Cuerpo */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00c3ff;
    color: #003333;
    background-image: url('../Imagenes/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}


.bienvenida-section {
    background: linear-gradient(#06e085, #00c3ff);
    padding: 50px 0;
    box-shadow: inset 0 -30px 40px rgba(0,0,0,0.03);
    margin: 0;
    
}

.container-bienvenida {
    max-width: 1200px;       /* Limita el ancho en pantallas grandes */
    margin: 0 auto;          /* Centra horizontalmente */
    padding: 0 20px;         /* Espacio lateral en móviles */
    text-align: center;
}


#carouselBidones {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.carousel-inner img {
  object-fit: contain;
  height: 200px;
}

.table {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.parrafo {
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    color: #000;
}

.beneficios-box {
    max-width: 600px;
    margin: 0 auto;
}

.container h2 {
    font-size: 25px;
}


/* Productos destacados */

.card-img-top {
    max-height: 200px; 
    object-fit: contain; 
}

.card {
    text-align: center; 
    background: linear-gradient(135deg, #06e085, #00c3ff); /* Degradado verde-azul */
    border-radius: 10px;
    overflow: hidden;
    color: white; /* Para que el texto contraste */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.container-productos h2 {
    color: #000000;
}

.btn-blue {
    background-color: #ffffff;
    color: #000;
    border: none;
}

.btn-blue:hover {
    background-color: #0050b8;
    color: #ffffff;
}

@media (max-width: 768px) {
    .container-productos .col-md-4 {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.tarjeta-centrada {
    width: 100%;
    margin-top: 20px; /* opcional, para ajustar espacio */
    display: flex;
    justify-content: center;
}

.tarjeta-centrada .card {
    max-width: 90%;
    margin: 0 auto;
}
}




/* Whatsapp */

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #06ca06;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease-out forwards;
  font-family: 'Montserrat', sans-serif;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Footer */

.pie-pagina {
    background-color: #e0f7fa; /* azul claro */
    color: #004d40;
    font-size: 15px;
}
  
.pie-pagina h5 {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
  
.pie-pagina a {
    text-decoration: none;
    color: #00796b;
}

.pie-pagina p {
    font-family: 'Montserrat', sans-serif;
}
  
.pie-pagina a:hover {
    color: #004d40;
    text-decoration: underline;
}

.logo-footer {
    width: 200px;
    margin-left: -100px;
}

.footer-redes {
    font-size: 15px;
    white-space: nowrap;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconos-redes a {
    font-size: 24px;
    color: #00796b;
    transition: transform 0.2s ease;
}

.iconos-redes a:hover {
    transform: scale(1.2);
}

/* Alertas */

.modal-stock {
  display: none; /* Cambia a 'none' cuando no quieras mostrarla */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
}

.modal-contenido {
  background-color: white;
  margin: 15% auto;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-contenido h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #000;
}

.img-modal {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

